@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  @apply 
  font-bold
  text-[0.9rem]
  md:text-5xl
  w-full
  items-start
  flex
  ;
}

.page-container{
  @apply 
  h-screen 
  w-screen 
  flex 
  flex-col 
  items-center 
  justify-center
  bg-white
}

.main-content{
  @apply
  h-[90%] 
  md:h-[80%] 
  w-screen 
  relative 
  flex 
  items-center 
  bg-yellow-900
}