@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/



body{
  @apply 
  h-screen 
  w-screen 
  flex 
  flex-col 
  items-center 
  justify-center
  bg-gray-50
}

main{
  @apply
  h-[90%] 
  md:h-[80%] 
  w-screen 
  flex 
  items-center 
  relative
}

section{
  @apply
  w-full 
  h-full 
  flex 
  flex-col 
  md:flex-row 
  items-center 
  justify-center
  relative
}

.title{
  @apply 
  font-bold
  text-[0.9rem]
  md:text-5xl
  w-full
  items-start
  flex
  ;
}

.ribbon{
  @apply
  hidden 
  md:block 
  h-full 
  w-[25%] 
  md:w-[25%] 
  absolute
  bg-pink-600   
}