@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body{
  @apply 
  h-screen 
  w-screen 
  flex 
  flex-col 
  items-center 
  justify-center
  bg-gray-50
}

main{
  @apply
  h-[85%] 
  md:h-[80%] 
  w-screen 
  flex 
  items-center 
  relative
}

section{
  @apply
  w-full 
  h-full 
  flex 
  items-center 
  justify-center
  relative
}

.title{
  @apply 
  font-bold
  text-[0.9rem]
  md:text-5xl
  w-full
  items-start
  flex
  ;
}


.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 1)) !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fb7185 !important;
}

/* Cor da paginação */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
  opacity: 1 !important;
}