@reference "tailwindcss";

.carousel {
    @apply    
    overflow-hidden 
    w-[25rem] 
    md:w-[76rem] 
    h-full 
    flex 
    items-center 
    justify-center
    md:justify-start
    ;
}

.carousel ul{
    @apply
    flex 
    md:h-[25rem]
    md:w-[76rem]
    h-[18rem]
    w-[18rem]
    transition-transform 
    duration-500 
    ease-in-out
    ;
}

.carousel li {
    @apply
    md:w-[25rem]
    sm:w-[300rem]
    w-[18rem]
    aspect-square
    mr-[0.5rem]
    ;
}

.carousel img {
    @apply
    w-full 
    h-full 
    object-cover 
    rounded-lg 
    shadow-xl;
}

.button{
    @apply
    z-2 
    text-9xl 
    absolute 
    text-white 
    hover:text-black 
    drop-shadow-[0px_3px_3px_black] 
    ;
}